/*-----------header-----------*/

header{
    nav{
        background-color: #99042f;
        .logo {
            width: 150px;
            height: 75px;
            border-radius: 15px 0 15px 0;
            z-index: 1;
        }
    }
}